<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlackgateEntities" connectionString="metadata=res://*/Domain.Training.csdl|res://*/Domain.Training.ssdl|res://*/Domain.Training.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAGASH\SQLEXPRESS;initial catalog=Blackgate;persist security info=True;user id=dev;password=bl4ckd3v;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>